
body {
	height: 100vh;
	margin: 10px;
}

.container  {
	height: 100%;
	width: 50%;
}

.ligne_1 {
	display: flex;
}

.valeur {
	width: 100%;
	margin-left: 100px;
	margin-top: 5px;
	
}

button {
	
	height: 30px;
	width: 30px;
	margin: 3px;
}

